{
  "extends": ["eslint-config-airbnb-base", "prettier"],

  "globals": {
    "M": false,
    "$": false,
  },

  "plugins": ["prettier"],

  "env": {
    "browser": true
  },

  "rules": {
    "prettier/prettier": "error",
    "no-param-reassign": 0
  },

  "parser": "babel-eslint",

  "settings": {
    "import/resolver": {
      "webpack": {
        "config": {
          "resolve": {
            "modules": ["frontend", "node_modules"]
          }
        }
      }
    }
  }
}

