<%= form_for form_object, url: url, method: method do |form| %>
  <!-- fields -->
  <% form_object.fields.each do |field| %>
    <%= component :input, form: form, field: field %>
  <% end %>

  <div class="row center-align">
    <!-- cancel -->
    <%= link_to t('actions.cancel'), url_for(:back), class: 'waves-effect waves-teal btn-flat' %>

    <!-- submit -->
    <button class="btn waves-effect waves-light" type="submit" name="action">
      <%= t('actions.submit') %>
    </button>
  </div>
<% end %>
