<li><a href="#!"><i class="material-icons">settings</i>Settings</a></li>
<li><a href="#!"><i class="material-icons">supervisor_account</i>Users</a></li>
<li><div class="divider"></div></li>

<li><a class="subheader">Groups</a></li>
<li><a href="#!">Articles</a></li>
<li><a href="#!">Reviews</a></li>
