<li><a href="#!"><i class="material-icons">settings</i>Settings</a></li>
<li><a href="#!"><i class="material-icons">supervisor_account</i>Users</a></li>
<li><div class="divider"></div></li>

<li><a hred="" class="subheader">Groups</a></li>

<% content.each do |item| %>
  <li>
    <%= link_to [:admin, item] do %>
      <i class="material-icons"><%= icon_for(item.class) %></i>
      <%= item.name %>
    <% end %>
  </li>
<% end %>
